@model Video

<div class="col-lg-4">
    <img class="img-thumbnail" src="@Model.Image" alt="@Model.Title" />
    <h2>Video: @Model.Title</h2>
    <p>@Model.ShortDescription</p>
    <p><a class="btn btn-warning" href="#">More information</a></p>
</div>