@model SimpleMovieSearch.Models.Video

<form asp-action="AddToFavorite">
    <input type="hidden" asp-for="Id" />
    <input type="submit" value="AddToFavorite" class="btn btn-danger" />
    <a asp-action="Index">Back to List</a>
</form>
