@model IEnumerable<SimpleMovieSearch.Models.Video> 

<h1>All Videos</h1>
<h2>@Model</h2>
<div class="row mt-5 mb-2">
    @{
        foreach (Video video in Model)
        {
            @Html.Partial("_AllVideo", video)
        }
    }
    <a onclick="showInPopup('@Url.Action("AddOrEdit","Video",null,Context.Request.Scheme)','New Video')" class="btn btn-success text-white"><i class="fas fa-random"></i> New Video</a>
</div>

