
SimpleMovieSearch/bin/Debug/net5.0/zh-Hant/Microsoft.CodeAnalysis.Workspaces.resources.dll
SimpleMovieSearch/bin/Debug/net5.0/zh-Hant/Microsoft.CodeAnalysis.resources.dll
SimpleMovieSearch/bin/Debug/net5.0/zh-Hant/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
SimpleMovieSearch/bin/Debug/net5.0/zh-Hant/Microsoft.CodeAnalysis.CSharp.resources.dll
SimpleMovieSearch/bin/Debug/net5.0/zh-Hans/Microsoft.CodeAnalysis.Workspaces.resources.dll
SimpleMovieSearch/bin/Debug/net5.0/zh-Hans/Microsoft.CodeAnalysis.resources.dll
SimpleMovieSearch/bin/Debug/net5.0/zh-Hans/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
SimpleMovieSearch/bin/Debug/net5.0/zh-Hans/Microsoft.CodeAnalysis.CSharp.resources.dll
SimpleMovieSearch/bin/Debug/net5.0/tr/Microsoft.CodeAnalysis.Workspaces.resources.dll
SimpleMovieSearch/bin/Debug/net5.0/tr/Microsoft.CodeAnalysis.resources.dll
SimpleMovieSearch/bin/Debug/net5.0/tr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
SimpleMovieSearch/bin/Debug/net5.0/tr/Microsoft.CodeAnalysis.CSharp.resources.dll
SimpleMovieSearch/bin/Debug/net5.0/System.Security.Cryptography.ProtectedData.dll
SimpleMovieSearch/bin/Debug/net5.0/System.Runtime.Caching.dll
SimpleMovieSearch/bin/Debug/net5.0/System.IdentityModel.Tokens.Jwt.dll
SimpleMovieSearch/bin/Debug/net5.0/System.Configuration.ConfigurationManager.dll
SimpleMovieSearch/bin/Debug/net5.0/System.Composition.TypedParts.dll
SimpleMovieSearch/bin/Debug/net5.0/System.Composition.Runtime.dll
SimpleMovieSearch/bin/Debug/net5.0/System.Composition.Hosting.dll
SimpleMovieSearch/bin/Debug/net5.0/System.Composition.Convention.dll
SimpleMovieSearch/bin/Debug/net5.0/System.Composition.AttributedModel.dll
SimpleMovieSearch/bin/Debug/net5.0/SimpleMovieSearch.Views.pdb
SimpleMovieSearch/bin/Debug/net5.0/SimpleMovieSearch.Views.dll
SimpleMovieSearch/bin/Debug/net5.0/SimpleMovieSearch.runtimeconfig.json
SimpleMovieSearch/bin/Debug/net5.0/SimpleMovieSearch.runtimeconfig.dev.json
SimpleMovieSearch/bin/Debug/net5.0/SimpleMovieSearch.pdb
SimpleMovieSearch/bin/Debug/net5.0/SimpleMovieSearch.exe
SimpleMovieSearch/bin/Debug/net5.0/SimpleMovieSearch.dll
SimpleMovieSearch/bin/Debug/net5.0/SimpleMovieSearch.deps.json
SimpleMovieSearch/bin/Debug/net5.0/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
SimpleMovieSearch/bin/Debug/net5.0/runtimes/win/lib/netstandard2.0/System.Runtime.Caching.dll
SimpleMovieSearch/bin/Debug/net5.0/runtimes/win/lib/netcoreapp3.1/Microsoft.Data.SqlClient.dll
SimpleMovieSearch/bin/Debug/net5.0/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.pdb
SimpleMovieSearch/bin/Debug/net5.0/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.dll
SimpleMovieSearch/bin/Debug/net5.0/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.pdb
SimpleMovieSearch/bin/Debug/net5.0/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.dll
SimpleMovieSearch/bin/Debug/net5.0/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.pdb
SimpleMovieSearch/bin/Debug/net5.0/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.dll
SimpleMovieSearch/bin/Debug/net5.0/runtimes/win-arm64/lib/net5.0/dotnet-aspnet-codegenerator-design.exe
SimpleMovieSearch/bin/Debug/net5.0/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.pdb
SimpleMovieSearch/bin/Debug/net5.0/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.dll
SimpleMovieSearch/bin/Debug/net5.0/runtimes/win-arm/lib/net5.0/dotnet-aspnet-codegenerator-design.exe
SimpleMovieSearch/bin/Debug/net5.0/runtimes/unix/lib/netcoreapp3.1/Microsoft.Data.SqlClient.dll
SimpleMovieSearch/bin/Debug/net5.0/ru/Microsoft.CodeAnalysis.Workspaces.resources.dll
SimpleMovieSearch/bin/Debug/net5.0/ru/Microsoft.CodeAnalysis.resources.dll
SimpleMovieSearch/bin/Debug/net5.0/ru/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
SimpleMovieSearch/bin/Debug/net5.0/ru/Microsoft.CodeAnalysis.CSharp.resources.dll
SimpleMovieSearch/bin/Debug/net5.0/ref/SimpleMovieSearch.dll
SimpleMovieSearch/bin/Debug/net5.0/pt-BR/Microsoft.CodeAnalysis.Workspaces.resources.dll
SimpleMovieSearch/bin/Debug/net5.0/pt-BR/Microsoft.CodeAnalysis.resources.dll
SimpleMovieSearch/bin/Debug/net5.0/pt-BR/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
SimpleMovieSearch/bin/Debug/net5.0/pt-BR/Microsoft.CodeAnalysis.CSharp.resources.dll
SimpleMovieSearch/bin/Debug/net5.0/pl/Microsoft.CodeAnalysis.Workspaces.resources.dll
SimpleMovieSearch/bin/Debug/net5.0/pl/Microsoft.CodeAnalysis.resources.dll
SimpleMovieSearch/bin/Debug/net5.0/pl/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
SimpleMovieSearch/bin/Debug/net5.0/pl/Microsoft.CodeAnalysis.CSharp.resources.dll
SimpleMovieSearch/bin/Debug/net5.0/Newtonsoft.Json.dll
SimpleMovieSearch/bin/Debug/net5.0/Newtonsoft.Json.Bson.dll
SimpleMovieSearch/bin/Debug/net5.0/Microsoft.VisualStudio.Web.CodeGenerators.Mvc.dll
SimpleMovieSearch/bin/Debug/net5.0/Microsoft.VisualStudio.Web.CodeGeneration.Utils.dll
SimpleMovieSearch/bin/Debug/net5.0/Microsoft.VisualStudio.Web.CodeGeneration.Templating.dll
SimpleMovieSearch/bin/Debug/net5.0/Microsoft.VisualStudio.Web.CodeGeneration.EntityFrameworkCore.dll
SimpleMovieSearch/bin/Debug/net5.0/Microsoft.VisualStudio.Web.CodeGeneration.dll
SimpleMovieSearch/bin/Debug/net5.0/Microsoft.VisualStudio.Web.CodeGeneration.Core.dll
SimpleMovieSearch/bin/Debug/net5.0/Microsoft.VisualStudio.Web.CodeGeneration.Contracts.dll
SimpleMovieSearch/bin/Debug/net5.0/Microsoft.IdentityModel.Tokens.dll
SimpleMovieSearch/bin/Debug/net5.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
SimpleMovieSearch/bin/Debug/net5.0/Microsoft.IdentityModel.Protocols.dll
SimpleMovieSearch/bin/Debug/net5.0/Microsoft.IdentityModel.Logging.dll
SimpleMovieSearch/bin/Debug/net5.0/Microsoft.IdentityModel.JsonWebTokens.dll
SimpleMovieSearch/bin/Debug/net5.0/Microsoft.Identity.Client.dll
SimpleMovieSearch/bin/Debug/net5.0/Microsoft.Extensions.DependencyModel.dll
SimpleMovieSearch/bin/Debug/net5.0/Microsoft.EntityFrameworkCore.SqlServer.dll
SimpleMovieSearch/bin/Debug/net5.0/Microsoft.EntityFrameworkCore.Relational.dll
SimpleMovieSearch/bin/Debug/net5.0/Microsoft.EntityFrameworkCore.dll
SimpleMovieSearch/bin/Debug/net5.0/Microsoft.EntityFrameworkCore.Design.dll
SimpleMovieSearch/bin/Debug/net5.0/Microsoft.EntityFrameworkCore.Abstractions.dll
SimpleMovieSearch/bin/Debug/net5.0/Microsoft.DotNet.PlatformAbstractions.dll
SimpleMovieSearch/bin/Debug/net5.0/Microsoft.Data.SqlClient.dll
SimpleMovieSearch/bin/Debug/net5.0/Microsoft.CodeAnalysis.Workspaces.dll
SimpleMovieSearch/bin/Debug/net5.0/Microsoft.CodeAnalysis.Razor.dll
SimpleMovieSearch/bin/Debug/net5.0/Microsoft.CodeAnalysis.dll
SimpleMovieSearch/bin/Debug/net5.0/Microsoft.CodeAnalysis.CSharp.Workspaces.dll
SimpleMovieSearch/bin/Debug/net5.0/Microsoft.CodeAnalysis.CSharp.dll
SimpleMovieSearch/bin/Debug/net5.0/Microsoft.Bcl.AsyncInterfaces.dll
SimpleMovieSearch/bin/Debug/net5.0/Microsoft.AspNetCore.Razor.Language.dll
SimpleMovieSearch/bin/Debug/net5.0/Microsoft.AspNetCore.Mvc.Razor.Extensions.dll
SimpleMovieSearch/bin/Debug/net5.0/Microsoft.AspNetCore.JsonPatch.dll
SimpleMovieSearch/bin/Debug/net5.0/ko/Microsoft.CodeAnalysis.Workspaces.resources.dll
SimpleMovieSearch/bin/Debug/net5.0/ko/Microsoft.CodeAnalysis.resources.dll
SimpleMovieSearch/bin/Debug/net5.0/ko/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
SimpleMovieSearch/bin/Debug/net5.0/ko/Microsoft.CodeAnalysis.CSharp.resources.dll
SimpleMovieSearch/bin/Debug/net5.0/Json.dll
SimpleMovieSearch/bin/Debug/net5.0/ja/Microsoft.CodeAnalysis.Workspaces.resources.dll
SimpleMovieSearch/bin/Debug/net5.0/ja/Microsoft.CodeAnalysis.resources.dll
SimpleMovieSearch/bin/Debug/net5.0/ja/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
SimpleMovieSearch/bin/Debug/net5.0/ja/Microsoft.CodeAnalysis.CSharp.resources.dll
SimpleMovieSearch/bin/Debug/net5.0/it/Microsoft.CodeAnalysis.Workspaces.resources.dll
SimpleMovieSearch/bin/Debug/net5.0/it/Microsoft.CodeAnalysis.resources.dll
SimpleMovieSearch/bin/Debug/net5.0/it/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
SimpleMovieSearch/bin/Debug/net5.0/it/Microsoft.CodeAnalysis.CSharp.resources.dll
SimpleMovieSearch/bin/Debug/net5.0/Humanizer.dll
SimpleMovieSearch/bin/Debug/net5.0/fr/Microsoft.CodeAnalysis.Workspaces.resources.dll
SimpleMovieSearch/bin/Debug/net5.0/fr/Microsoft.CodeAnalysis.resources.dll
SimpleMovieSearch/bin/Debug/net5.0/fr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
SimpleMovieSearch/bin/Debug/net5.0/fr/Microsoft.CodeAnalysis.CSharp.resources.dll
SimpleMovieSearch/bin/Debug/net5.0/es/Microsoft.CodeAnalysis.Workspaces.resources.dll
SimpleMovieSearch/bin/Debug/net5.0/es/Microsoft.CodeAnalysis.resources.dll
SimpleMovieSearch/bin/Debug/net5.0/es/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
SimpleMovieSearch/bin/Debug/net5.0/es/Microsoft.CodeAnalysis.CSharp.resources.dll
SimpleMovieSearch/bin/Debug/net5.0/dotnet-aspnet-codegenerator-design.dll
SimpleMovieSearch/bin/Debug/net5.0/de/Microsoft.CodeAnalysis.Workspaces.resources.dll
SimpleMovieSearch/bin/Debug/net5.0/de/Microsoft.CodeAnalysis.resources.dll
SimpleMovieSearch/bin/Debug/net5.0/de/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
SimpleMovieSearch/bin/Debug/net5.0/de/Microsoft.CodeAnalysis.CSharp.resources.dll
SimpleMovieSearch/bin/Debug/net5.0/dbsettings.json
SimpleMovieSearch/bin/Debug/net5.0/cs/Microsoft.CodeAnalysis.Workspaces.resources.dll
SimpleMovieSearch/bin/Debug/net5.0/cs/Microsoft.CodeAnalysis.resources.dll
SimpleMovieSearch/bin/Debug/net5.0/cs/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
SimpleMovieSearch/bin/Debug/net5.0/cs/Microsoft.CodeAnalysis.CSharp.resources.dll
SimpleMovieSearch/bin/Debug/net5.0/appsettings.json
SimpleMovieSearch/bin/Debug/net5.0/appsettings.Development.json
SimpleMovieSearch/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
SimpleMovieSearch/obj/Debug/net5.0/apphost.exe
SimpleMovieSearch/obj/Debug/net5.0/Razor/Views/_ViewImports.cshtml.g.cs
SimpleMovieSearch/obj/Debug/net5.0/Razor/Views/_ViewStart.cshtml.g.cs
SimpleMovieSearch/obj/Debug/net5.0/Razor/Views/Home/Index.cshtml.g.cs
SimpleMovieSearch/obj/Debug/net5.0/Razor/Views/Shared/_AllVideo.cshtml.g.cs
SimpleMovieSearch/obj/Debug/net5.0/Razor/Views/Shared/_Layout.cshtml.g.cs
SimpleMovieSearch/obj/Debug/net5.0/Razor/Views/Videos/List.cshtml.g.cs
SimpleMovieSearch/obj/Debug/net5.0/ref/SimpleMovieSearch.dll
SimpleMovieSearch/obj/Debug/net5.0/SimpleMovieSearch.AssemblyInfo.cs
SimpleMovieSearch/obj/Debug/net5.0/SimpleMovieSearch.AssemblyInfoInputs.cache
SimpleMovieSearch/obj/Debug/net5.0/SimpleMovieSearch.assets.cache
SimpleMovieSearch/obj/Debug/net5.0/SimpleMovieSearch.csproj.CopyComplete
SimpleMovieSearch/obj/Debug/net5.0/SimpleMovieSearch.csproj.CoreCompileInputs.cache
SimpleMovieSearch/obj/Debug/net5.0/SimpleMovieSearch.csproj.FileListAbsolute.txt
SimpleMovieSearch/obj/Debug/net5.0/SimpleMovieSearch.csprojAssemblyReference.cache
SimpleMovieSearch/obj/Debug/net5.0/SimpleMovieSearch.dll
SimpleMovieSearch/obj/Debug/net5.0/SimpleMovieSearch.GeneratedMSBuildEditorConfig.editorconfig
SimpleMovieSearch/obj/Debug/net5.0/SimpleMovieSearch.genruntimeconfig.cache
SimpleMovieSearch/obj/Debug/net5.0/SimpleMovieSearch.MvcApplicationPartsAssemblyInfo.cache
SimpleMovieSearch/obj/Debug/net5.0/SimpleMovieSearch.pdb
SimpleMovieSearch/obj/Debug/net5.0/SimpleMovieSearch.RazorAssemblyInfo.cache
SimpleMovieSearch/obj/Debug/net5.0/SimpleMovieSearch.RazorAssemblyInfo.cs
SimpleMovieSearch/obj/Debug/net5.0/SimpleMovieSearch.RazorCoreGenerate.cache
SimpleMovieSearch/obj/Debug/net5.0/SimpleMovieSearch.RazorTargetAssemblyInfo.cache
SimpleMovieSearch/obj/Debug/net5.0/SimpleMovieSearch.RazorTargetAssemblyInfo.cs
SimpleMovieSearch/obj/Debug/net5.0/SimpleMovieSearch.TagHelpers.input.cache
SimpleMovieSearch/obj/Debug/net5.0/SimpleMovieSearch.TagHelpers.output.cache
SimpleMovieSearch/obj/Debug/net5.0/SimpleMovieSearch.Views.dll
SimpleMovieSearch/obj/Debug/net5.0/SimpleMovieSearch.Views.pdb
SimpleMovieSearch/obj/Debug/net5.0/staticwebassets/SimpleMovieSearch.StaticWebAssets.Manifest.cache
SimpleMovieSearch/obj/Debug/net5.0/staticwebassets/SimpleMovieSearch.StaticWebAssets.xml
SimpleMovieSearch/obj/project.assets.json
SimpleMovieSearch/obj/project.nuget.cache
SimpleMovieSearch/obj/SimpleMovieSearch.csproj.nuget.dgspec.json
SimpleMovieSearch/obj/SimpleMovieSearch.csproj.nuget.g.props
SimpleMovieSearch/obj/SimpleMovieSearch.csproj.nuget.g.targets
SimpleMovieSearch/SimpleMovieSearch.csproj.user
.vs/SimpleMovieSearch/v16/.suo
.vs/SimpleMovieSearch/DesignTimeBuild/.dtbcache.v2
.vs/SimpleMovieSearch/config/applicationhost.config
SimpleMovieSearch/obj/Debug/net5.0/Razor/Views/Videos/AddOrEdit.cshtml.g.cs
SimpleMovieSearch/obj/Debug/net5.0/Razor/Views/Videos/Delete.cshtml.g.cs
SimpleMovieSearch/obj/Debug/net5.0/Razor/Views/Videos/AddToFavorite.cshtml.g.cs
SimpleMovieSearch/obj/Debug/net5.0/Razor/Views/Shared/_ValidationScriptsPartial.cshtml.g.cs
SimpleMovieSearch/obj/Debug/net5.0/Razor/Views/FavoriteVideos/AllFavoriteVideos.cshtml.g.cs
SimpleMovieSearch/obj/Debug/net5.0/Razor/Views/FavoriteVideos/AddToFavorite.cshtml.g.cs
SimpleMovieSearch/obj/Debug/net5.0/Razor/Views/Account/Register.cshtml.g.cs
SimpleMovieSearch/obj/Debug/net5.0/Razor/Views/Account/Login.cshtml.g.cs
*.dll
SimpleMovieSearch/obj/Debug/net5.0/SimpleMovieSearch.MvcApplicationPartsAssemblyInfo.cs
